<%= turbo_stream_from "game_#{@game.id}" %>

<header>
  <h1><%= @game.name %></h1>
</header>

<div class="tabs">
  <% [
    ["Heroes", master_game_path(@game)],
    ["Settings", settings_master_game_path(@game)]
  ].each do |(name, path)| %>
    <%= link_to name, path, class:  "tab-button " + (current_page?(path) ? "active" : "") %>
  <% end %>
</div>

<div class="tab-content active">
  <div class="heroes-grid">
    <% if @heroes.any? %>
      <% @heroes.each do |hero| %>
        <%= render "hero_card", hero: hero, game: @game %>
      <% end %>
    <% end %>
  </div>

  <div class="game-notes">
    <%= render "notes_editor", game: @game %>
  </div>
</div>
